/* Global CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'highsoft-design-tokens/dist/css/tokens';

/* Global Styles */
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1rem; /* 16px */
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1;
    color: var(--textColor);
    background-color: black;
}

p {
    margin: 0;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1;
    text-transform: capitalize;
    letter-spacing: var(--letterSpacing);
}

h1 {
    font-size: 3.052rem;
}

h2 {
    font-size: 2.441rem;
}

h3 {
    font-size: 1.953rem;
}

h4 {
    font-size: 1.563rem;
}

h5 {
    font-size: 1.25rem;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.mb-20 {
    margin-bottom: 20px;
}

/* Focus indicators */
:focus {
    outline: 2px solid rgb(0, 104, 173);
    padding: 5px;
    background-color: var(--focus-background-color);
}

.icon-wrapper:focus {
    outline: 2px solid rgb(0, 104, 173);
    padding: 10px 3px;
    background-color: var(--focus-background-color);
}

.btn-white-border {
    border: 2px solid white;
}

/*********** Variables ***********/
/* Screen sizes TODO*/ 
:root {
    --sm: 576px;
    --md: 768px;
    --lg: 992px;
    --xl: 1200px;
    --2xl: 1400px;
}

/************ Header ****************/
.banner {
    display: flex;
    padding-top: 18px;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 2ch;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 5px;
}

.inside-banner {
    display: flex;
    padding: 30px 31px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 8px;
    background-color: #f6f8ff;
    backdrop-filter: blur(13.949999809265137px);
}

.logo-img {
    display: flex;
    align-items: center;
    gap: 44px;
}

.logo {
    display: flex;
    width: 181px;
    align-items: center;
    gap: 16px;
}

.only-logo {
    display: none;
}

/* Tabs */ 
.tabs {
    display: flex;
    align-items: flex-start;
    gap: 34px;
}

.contrast-tabs,
.contrast-mode-tabs {
    display: flex;
    height: 38px;
    padding: 4px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 6px;
    border: 1px solid #918fa3;
}

.contrast-tabs button,
.contrast-mode-tabs button {
    display: flex;
    padding: 0px 16px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 4px;
    background-color: transparent;
    color: black; 
    border: none; 
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; 
}

.contrast-tabs button:hover,
.contrast-mode-tabs button:hover {
    background-color: #757575;
    color: white;
}

.contrast-tabs button.active,
.contrast-mode-tabs button.active {
    background-color: black;
    color: white; 
    border: 2px solid white;
}

/* Links and logo to the right side */
.link-and-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon-wrapper{
    display: flex;
    align-items: center;
    height: 16px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 50%;
}

.icon-wrapper:hover {
    transform: scale(1.3);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.icon-wrapper svg,
.icon-wrapper .fa-question-circle {
    width: 16px;
    height: 16px;
}

.link-and-logo h1 {
    margin: 0;
    color: #000;
    text-align: center;
    /*font-family: 'IBM Plex Sans Var';*/
    font-size: 1.309rem;
    font-style: italic;
    font-weight: 600;
    line-height: 38.949px;
    text-transform: uppercase;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-container svg {
    width: 26px;
    height: 29px;
}


/* Mobile menu */
.burger-icon {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.burger:hover {
    transform: scale(1.3);
    padding: 2px;

}

label {
    font-size: 0.8rem;
    font-weight: 600;
    margin-right: 2px;
}

.contrast-select-dropdown,
.contrast-mode-dropdown {
    width: 150px;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    background-color: #fff;
    color: #212529;
    appearance: none;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" stroke="%23343a40" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-chevron-down" viewBox="0 0 24 24"><polyline points="6 9 12 15 18 9"/></svg>');
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

.contrast-select-dropdown,
.contrast-mode-dropdown {
    width: 150px;
}

/* Media queries */
/* After 992px, hide the default logo and show the new one */
@media (max-width: 992px) and (min-width: 768px) {
    .logo {
        display: none;
    }

    .only-logo {
        display: flex;
        width: 35px;
        align-items: center;
        gap: 16px;
    }

    h1 {
        display: none;
    }

}

@media (max-width: 767px) {

    label {
        display: none;
    }

    .inside-banner {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .contrast-select-dropdown,
    .contrast-mode-dropdown,
    .contrast-tabs,
    .contrast-mode-tabs {
        display: none;
    }

    .hamburger-icon {
        display: block;
    }

    .dropdown-menu {
        display: flex;
        flex-direction: row;
        gap: 10px;
        background-color: #f6f8ff;
        padding: 10px;
        border-radius: 8px;
        width: 100%;
    }
    .dropdown-menu div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .dropdown-menu label {
        display: flex;
    }

    .dropdown-menu .contrast-select-dropdown,
    .dropdown-menu .contrast-mode-dropdown,
    .dropdown-menu .contrast-tabs,
    .dropdown-menu .contrast-mode-tabs {
        display: block;
    }
}

@media (max-width: 576px) {
    .logo {
        display: none;
    }
    .only-logo {
        display: flex;
        width: 35px;
    }
    h1 {
        display: none;
    }
    .dropdown-menu {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .dropdown-menu label {
        margin-right: 10px;

    }
}

@media (min-width: 768px) and (max-width: 1349px) {
    .contrast-select-dropdown,
    .contrast-mode-dropdown {
        width: 150px;
    }

    .contrast-tabs,
    .contrast-mode-tabs {
        display: none;
    }
}

/* Larger screen adjustments */
@media screen and (min-width: 1350px) {
    .contrast-select-dropdown,
    .contrast-mode-dropdown {
        display: none;
    }
}

@media screen and (min-width: 1350px) {
    .contrast-select-dropdown,
    .contrast-mode-dropdown {
        display: none;
    }
}

@media screen and (max-width: 1349px) {
    .contrast-tabs,
    .contrast-mode-tabs {
        display: none;
    }
}

/* Modal menu */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    line-height: 1.5;
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    position: relative;
    max-width: 800px;
    width: 100%;
    max-height: 90vh;
    overflow-y: auto;
}

.modal-content a {
    text-decoration: underline;
}

.modal-content button {
    display: flex;
    padding: 5px 16px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 4px;
    background-color: transparent;
    color: black;
    border: 1px solid #918fa3;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.modal-content button:hover {
    background-color: black;
    color: white;
}

/******** Palette General Colorbar styles **********/

/* Contrast text */
.contrast-text {
    text-align: center;
    line-height: 1.5;
}
.contrast-level {
    font-size: 1rem;
}

.contrast-ratio-box-text {
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.contrast-ratio-box-text p {
    padding-right: 5px;
}

.check-text {
    display: flex;
    align-items: center;
    padding-right: 10px;
    padding-left: 5px;
}

.all-contrast-label {
    font-size: 0.875rem;
    color: black;
    margin: 0;
}

.contrast-box-full {
    background-color: white;
    margin: 0 auto;
    padding: 5% 10%;
    width: 100%;
    border-radius: 5px;
    border: 1px solid black
}

.contrast-row {
    display: flex;
    align-items: center;
    gap: 8px; 
    margin-bottom: 8px;
}

.checker {
    background-color: white;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: calc(55% + 75px);
    transform: translate(-50%, -50%);
    z-index: 1;
    border-radius: 4px;
    box-shadow: 0px 21px 6px 0px rgba(0, 0, 0, 0.00), 0px 13px 5px 0px rgba(0, 0, 0, 0.01), 0px 7px 4px 0px rgba(0, 0, 0, 0.02), 0px 3px 3px 0px rgba(0, 0, 0, 0.03), 0px 1px 2px 0px rgba(0, 0, 0, 0.04);
    z-index: 20;
}

.contrast-text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    align-self: stretch;
}

.contrast-text {
    font-size: 1.125rem; //24px
    font-weight: bold;
}

.contrast-text-label {
    font-size: 0.875rem;
    color: black;
    text-align: center;
    margin-top: auto;
}

/* General Color Bar styles */
.color-bars {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    align-items: flex-start;
    position: relative;
    user-select: none;
}

.color-bar-container {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    position: relative;
    border: 2px solid black;
    cursor: grabbing;
    transition: transform 0.3s ease; 
}

.color-bar-outer {
    border-radius: 10px;
    width: 150px;
    height: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    color: white;
}

.color-bar-inner {
    display: flex;
    transform: rotate(0deg);
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
    width: 100%;
}

.color-bar-inner-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    align-self: stretch;
    width: 100%;
}

/* Remove color */
.remove-color {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
    color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 5px;
}

.remove-color:hover {
    transform: scale(1.4); 
}

/* Add color */
.add-color-bar {
    border: 2px dashed #ccc;
    border-radius: 10px;
    background: transparent;
    cursor: pointer;
    width: 150px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, border-color 0.3s;
}

.add-color-bar:has(button):hover {
    background-color: #f0f0f0;
    border-color: #888;
}

.add-color-bar .add-color-bar-button {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    font-size: 1rem;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: color 0.3s;
}

.add-color-bar-button.disabled {
    background-color: #ccc;
    cursor: default;
    color: #999;
    text-align: center;
    padding: 10px;
    border: none;
    pointer-events: none;
    width: 100%;
}


.add-color-bar:hover .add-color-bar-button {
    color: #000 !important;
}

/* Color picker input */
input[type="color"] {
    border: 1px solid #000;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    padding: 0;
    cursor: pointer;
}

/* Remove default border and appearance */
input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
    padding: 0;
}

/* Custom border and appearance */
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: 1px solid #000;
    border-radius: 5px;
}

input[type="color"]::-moz-color-swatch {
    border: 1px solid #000;
    border-radius: 5px;
}

.color-picker-container {
    background-color: white;
    margin: 0 auto;
    padding: 5% 10%;
    width: 100%;
    display: flex;
    align-items: center; 
    justify-content: center; 
    border-radius: 5px;
}

.color-picker-container p {
    color: black;
    font-size: 1rem;
}

.color-picker {
    margin-right: 10px;

}

/* Media queries */
@media screen and (max-width: 600px) {
    .color-bars {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}

/************ Palette Neighbor ****************/

/* Drag and drop styles */
.color-bar-container.selected {
    outline: 2px solid #000;
}

.color-bar-container[draggable="true"] {
    cursor: move;
}

.color-bar-container:active {
    cursor: grabbing;
}

.color-bar-container.dragging {
    opacity: 0.8;
    transform: scale(1.05);
    z-index: 10;
}

.color-bar-container.placeholder {
    opacity: 0;
    transition: none;
    width: 0;
    height: 0;
    visibility: hidden;
}

.color-bar-container:focus {
    outline: 5px solid #ffffff;
    z-index: 11;
    border-radius: 10px;
}

.color-bar-container:hover {
    transform: scale(1.02);
    box-shadow: var(--shadow-2);
    z-index: 10;
}

.droppable-placeholder {
    display: none;
}

/************ Palette Compare ****************/

/* Contrast box */
.small-color-box {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    border: 1px solid black;
    border-radius: 3px;
}

.all {
    .contrast-box-full {
        padding: 5% 4%;
    }
    .color-bar-outer {
        flex: 0 0 auto;
        margin-bottom: 10px;
        width: 200px;
        min-height: 350px;
        height: auto;
    }

    .color-picker-container {
        margin: 10px auto;
    }
}

/************ Palette Third ****************/
.add-color-bar.no-button {
    background-color: black;
    border: 1px solid #eee;
    cursor: default; 
    pointer-events: none; 
}

.add-color-bar.no-button:hover {
    background-color: #f9f9f9;
    border-color: #eee;
}